*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div{
    background-color: yellow;
    margin-bottom: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 15px;
    row-gap: 10px;
}
@media (max-width:400px) {
    .container{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }
}
@media (min-width:401px) and (max-width:720px){
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:721px) and (max-width:1010px){
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1011px) and (max-width:1080px){
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width:1081px){
    .container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}